header[class="banner"] {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 600px; 
    overflow: hiden;
    flex-direction: column;
}

header[class="banner"]::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,#2a1320 50%, #441f346d);
    opacity: 0.9;
    z-index: 20; 
    
}

header img[class="banner_header"] {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 600px;
    top: 0;
    z-index: 10;
}

header[class="banner"] .content {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center;
    z-index: 30;
    color: var(--color-Secondary-100);
    text-align: left;
    margin: 0px 80px;
}

header[class="banner"] h1, header[class="banner"] p {
    margin: 0;
    max-width: 700px;
    padding: var(--spacing-3xs); 
    word-wrap: break-word;
}


