section .card_tematic{
max-width: 350px;
border-radius: 8px;
display: flex;
flex-direction: column;
align-items: flex-start;
box-shadow: var(--E1);
justify-content: flex-start;
overflow: hidden;
margin: var(--spacing-xs);
background-color: var(--color-primary-50);
flex-grow: 1;

}

.card_tematic .image_tematics{
height: 10rem;
width: 100%;
background-image: url(/Public/Mecanica_image.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
text-align: center;

}

.card_tematic h4{

    color: var(--color-Secondary-900);
    margin: 3% 2%;

}
.card_tematic p{

    margin: 0% 10% 5% 2%;
    color: var(--color-Neutral-900);
}
.contain_cards{
    
display: flex;
flex-direction: row;
align-items: flex-end;
justify-content: space-evenly;
flex-wrap: wrap;

}
.tematic h2{
    text-align: center;
    color: var(--color-primary-900);
}

.contain_cards .card_tematic:nth-child(2) .image_tematics{ background-image: url(/Public/circutos.jpg); }
.contain_cards .card_tematic:last-child .image_tematics{ background-image: url(/Public/ModeloPrevisualiazion.jpg); }

