#canvas-container {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    border-style: solid;
    border-color: black;
    border-radius: 2px;
    margin-bottom: var(--spacing-m);
}

#canvas-container h2 {
    position: absolute;
    z-index: 100;
    color: var(--color-Secondary-900);
    border-color: var(--color-Secondary-900);
    border-style: none none solid none;
    border-radius: 5px;
    margin: var(--spacing-l);
    padding: var(--spacing-3xs) var(--spacing-xs);
}

#canvas-container canvas {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1; /* Esto coloca el canvas detrás del texto */
}

#canvas-container .button{
    padding: var(--spacing-l);
    z-index: 50;
    color: var(--color-Secondary-100);
    background-color: var(--color-primary-900);
    font-size: var(--heading-6-font-size);
    font-weight: var(--heading-6-font-weight);
    line-height: var(--heading-6-line-height);
    box-shadow: var(--E2);
    border-radius: var(--spacing-l);
}



#canvas-container .Column_one{
display: flex;
position: absolute;
top: 20%;
left: 10%;
flex-direction: column;
align-items:center;
justify-content:space-between;
height: 400px;
}

#canvas-container .Column_two{
    display: flex;
    position: absolute;
    top: 20%;
    right: 10%;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    height: 400px;
    }