
body{
margin: 0%;
padding: 0%;
font-family: var(--font-family-montserrat);
position: relative;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

}


header svg[class="header_logo"] {

    min-width: 150px;
    max-width: 151px;
    height: fit-content;
    fill: var(--color-Secondary-300);

}

header:has(svg+nav){

background-color: var(--color-primary-900);
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
padding: var(--spacing-s) 80px;
position: sticky;
z-index: 200;
top: 0px;
}

header nav ul[class="Nav_List"]{
display: flex;
flex-direction: row;
list-style: none;
column-gap: var(--spacing-m);
color: var(--color-Secondary-300);
margin: var(--spacing-xs) 0%;
}

header nav ul li[class="item_nav"]{ 

font-size: var(--body-2-font-size);
font-weight: var(--body-2-font-weight);
line-height: var(--body-2-line-height);
}

.header_nav{
    display: block;
}

header nav ul li[class="item_nav"]:hover{

    color: var(--color-primary-700);
    }

header .header_menu{
    fill: var(--color-Secondary-300);
    width: 36px;
    display: none;
}


nav ul li a{
    color: var(--color-Secondary-300);
    text-decoration: none;
}

nav ul li a:hover{
    color: var(--color-primary-700);
    text-decoration: none;
}

 @media screen and (max-width:1024px) {
    header:has(svg+nav){
        padding: var(--spacing-s) 40px;
    }
 }
@media screen and (max-width:660px) {
    .header_nav{
    display: none;

    }
    header:has(svg+nav){

        padding: var(--spacing-s) 20px;
    }
    header .header_menu{
        display: block;
    }
}