.Button_page:has(svg+h4){
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
max-width: 300px;
min-width: 250px;
padding: var(--spacing-m);
margin: var(--spacing-m) var(--spacing-xs);
flex-grow: 1;
border-radius: var(--spacing-xs);
box-shadow: var(--E1);

}

.Button_page svg{

    width:var(--spacing-9xl);
    height:var(--spacing-9xl);
    fill: var(--color-primary-900);
}

.Button_page h4{
    margin: 0%;
    color: var(--color-primary-900);
}
.Select_page{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: var(--spacing-5xl) 0%;

}

.Select_page a{
    text-decoration: none;
}