table{


    box-shadow: var(--E1);
    width: 20%;
    margin: auto;
    background-color: var(--color-Secondary-900);
    border-radius: var(--spacing-s);
    overflow: hidden;
}

table tr{
    background-color: var(--color-primary-50);
}

table tr td{
    padding: var(--spacing-3xs) ;

    text-align: center;
    word-wrap: break-word;
    font-size: var(--body-2-font-size);
    font-weight: var(--body-2-font-weight);
    color: var(--color-Secondary-900);

}


table tr th{

    background-color: var(--color-primary-900);
    color: var(--color-Secondary-50);
    

}





table tr :hover{
    background-color: var(--color-primary-800);
    color: var(--color-Secondary-50);
}

