table{

    position:  absolute;
    z-index: 50;
    bottom: 5%;
    left: 5%;
    border-style: solid;
    border-radius: var(--spacing-xs);
    background-color: var(--color-Neutral-900);
    box-shadow: var(--E1);
    width: 20%;

    margin: 0%;
}

table tr{

border-style: solid;
border-color: var(--color-Neutral-900);
border-radius: 2px;
background-color: var(--color-primary-50);


}

table tr td{
    padding: var(--spacing-3xs) var(--spacing-1xs);
    text-align: center;
    word-wrap: break-word;

}



